body{
    background-image: url("./components/images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
}
h2{
    font-weight: bolder;
    color: Black;
    
}
.container{
    background-image: url("./components/images/inner_background.png");
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    min-width: 800px;
    max-width: 1000px;
}

.naviBar{
    background-image: url("./components/images/nav_background.png");
    /* background-image: url("./components/images/inner_background.png"); */
} 

#brand{
    color: black;
    font-weight: bolder;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: salmon;
    font-size: 30px;
}

.nav-link{
    color: black;
    font-size: 30px;
}

.download-btn{
    background-color: DodgerBlue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
}

  /* Darker background on mouse-over */
.download-btn:hover {
    background-color: RoyalBlue;
}

/* Home page headshot image */
#headshot{
    margin: 20px;
}

/* Contacts page link icons*/
.link-icon{
    max-width: 60px;
    max-height: 60px;
    padding-left: 10px;
}

.icon{
    max-width: 40px;
    max-height: 40px;
    padding-left: 10px;
}

.carousel-caption{
    font-size: 20px;
    color: black;
}

/* Modify screen layout fpr md size screens */
@media screen and (max-width: 768px) {

    /* Add margin and center headers on mobile */
    .header{
        margin-top: 20px;
        text-align: center;
    }    
}

/* Modify layout for xs size screens */
@media screen and (max-width: 576px) {

    /* Add margin and center headers on mobile  */
    .header{
        margin-top: 20px;
        text-align: center;
    }
}