html{
    max-width: 99%;
}

body{
    background-image: url("./components/images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
}
h2{
    font-weight: bolder;
    color: Black;
    
}
.container{
    background-image: url("./components/images/inner_background.png");
    border: darkgray;
    border-style: ridge;
    border-width: 2px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    min-width: 768px;
    max-width: 1000px;
}

/* Home page headshot image */
#headshot{
    margin: 20px;
}

/* Contacts page link icons*/
.link-icon{
    max-width: 60px;
    max-height: 60px;
    padding-left: 10px;
}

.icon{
    max-width: 40px;
    max-height: 40px;
    padding-left: 10px;
}

.carousel-caption{
    font-size: 20px;
    color: black;
}

/* Modify screen layout fpr md size screens */
@media screen and (max-width: 768px) {

    /* Add margin and center headers on mobile */
    .header{
        margin-top: 20px;
        text-align: center;
    }    
}

/* Modify layout for xs size screens */
@media screen and (max-width: 576px) {

    /* Add margin and center headers on mobile  */
    .header{
        margin-top: 20px;
        text-align: center;
    }
}