.download-btn{
    background-color: DodgerBlue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
}

  /* Darker background on mouse-over */
.download-btn:hover {
    background-color: RoyalBlue;
}